# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data & Distribution
.ipynb_checkpoints
dist/
build/
*.so

# DS
.DS_Store
**/.DS_StoreSrc/agent_core/data/

# output
result_output.json